MONGO_CONNECTION_STRING=
AZURE_STORAGE_BLOB_CONNECTION_STRING=
AZURE_STORAGE_BLOB_ACCOUNT_NAME=
AZURE_STORAGE_BLOB_CONTAINER_NAME=
MONGO_DATABASE_NAME=
JWT_SECRET=
ADMIN_NAME=
ADMIN_PASSWORD=
TEMP_REDEEM_KEY=
